*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
body{
  height: 100%;
  margin: 0;
}

strong{
  color: #cbe346;
}

p, ul{
  margin: 0;
}

/* Colors */

.dark{
  border: solid 1px #282e47;
}

.white{
  color: white;
}

.special-white{
  background-color: #ebebeb;
}

.green{
  background-color: #cbe346;
}

/* Header Menu & Slider */

header nav{
  position: fixed; 
  z-index: 2; 
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0;
  background-color: #f3f4f8; 
  display: none;
}

header div:first-child{
  position: absolute; 
  z-index: 2; 
  display: flex; 
  justify-content: start;
}

header div ul:first-child{
  display: none;
}

header img{
  position: absolute;
  z-index: 3;
  margin: 2rem;
  max-width: 39px;
}

header nav ul{
  position: relative; 
  top: calc(5rem + 35px);
  padding: 0;
  margin: 0 3rem;
}

header nav  ul li{
  color: white;
  margin: 0 0 2.6rem 0;
  font-size: 24px;
  background-color: #1f1f1f;
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
}

.slider {
  position: relative; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  right: 0;
}

.slider img {
  max-width: 100%; 
  width: 100%;
  height: 100vh; 
  object-fit: cover;
}

.slider-text{
  position: absolute;
  top: 60%;
  font-size: 32px;
  color: white;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.slider-subtext{
  margin: 1rem 2rem;
}

.vertical-line{
  display: none;
}


.burger-menu{
  font-size: 40px; 
  position: absolute; 
  right: 2rem; 
  top: 2rem;
  z-index: 3;
  cursor: pointer;
}

.burger-white{
  color: #f3f4f8; 
}

.burger-dark {
  color: #1f1f1f; 
}

.menu-item{
  display: inline-block;
  color: white;
}

/* Seccion Historia */

.history{
  display: flex;
  padding: 3.6rem 2rem 1.6rem 2rem;
  flex-direction: column;
  align-items: start;
}

.history-subtitle{
  color: #cbe346;
  font-size: 15px;
  font-weight: bold
}

.history-title{
  font-size: 32px;
  margin-top: 0.6rem;
}

.history-content{
  font-size: 18px;
  color: #787878;
  margin-top: 0.6rem;
}

.Rectangle {
  width: 269px;
  height: 53px;
  padding: 15px 39px 15px 30px;
  border-radius: 26.5px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  margin: 1.6rem 2rem;
}

.Rectangle-2 {
  width: 269px;
  height: 53px;
  padding: 15px 39px 15px 30px;
  border-radius: 26.5px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  margin: 1.6rem 2rem;
}

.btn-end{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  margin: 1.6rem 0;
}

.text-button{
  font-size: 13px;
}

/* Productos Main Content */

main{
  position: relative;
}

.border-white{
  border: solid 1px #fff;
}

.img-responsive{
  max-width: 100%; 
  width: 100%;
  object-fit: cover; 
  height: 100%;
}

.title-text-white{
  font-size: 32px; 
  color: white; 
  margin-bottom: 1rem;
}

.content-text-white{
  font-size: 18px;
  color: white; 
  margin-bottom: 1.6rem;
}

.floating-text{
  position: absolute; 
  left: 30%; 
  top: 3rem;
}

.breadcrumbs{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin-bottom: 1.6rem;
}

.display-flex{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.green-rounded{
  background-color: #cbe346;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border: none;
}

.navigation-buttons{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  margin-right: 1.6rem;
}

.product-slider{
  position: relative; 
  margin: 3rem;
}

.product-img-slider{
  width: 100%; 
  height: 50%;
}

.dot {
  height: 9.8px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1.6rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.dot-card{
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  width: 40px;
  height: 39.8px;
  background-color: #cbe346;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  color: white;
}

/* Footer & Img separador */

.half-portrait-screen{
  height: 50vh;
}

.img-separator{
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  object-position: left;
}

footer{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly; 
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 50vh;
  background-color: #cbe346;
}

footer ul:first-of-type{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  padding: 0;
}

footer ul:first-of-type li{
  display: block; 
  margin: 0.8rem 0 0.4rem 0;
}

footer ul:nth-of-type(2){
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center; 
  padding: 0; 
}

footer ul:nth-of-type(2) li{
  display: block; 
  margin: 1rem 0.3rem;
}

footer:first-of-type div{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center; 
}

footer:first-of-type div img{
  margin: 0 0 1.6rem 0;
}


/* Media Queries */

/* Tablet portrait */
@media only screen and (min-width: 600px) { 
  .slider-subtext{
    margin: 0 10rem;
  }

  .Rectangle {
    margin: 1.6rem 10rem;
  }

  .Rectangle-2 {
    margin: 1.6rem 1rem;
  }

  .floating-text{
    left: 15rem; 
    top: 5rem;
  }

  .history-title{
    font-size: 32px;
    margin: 0;
  }

  .history-subtitle{
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  }

  .Rectangle-2 {
    margin: 0 0 0 5rem;
  }

  .history{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 6rem 2rem 4rem 2rem;
  }

  .flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }
  
  .flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    }
  
  .flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    }

  .vertical-line{
    position: absolute;
    top: 0;
    left: 6.6rem;
    right: 0;
    bottom: 0;
    z-index: 3;
    border-left: 4px solid white;
    display: block;
  }

}

/* Tablet landscape */
@media only screen and (min-width: 900px) {
  .img-responsive{
    max-width: 42%; 
    object-fit: cover; 
    height: 100%;
  }

  main{
    display: flex;
  }

  .product-slider{
    margin: 2rem;
  }

  .product-img-slider{
    max-width: 200px;
    width: 100%; 
    height: 100%;
    max-height: 236px;
    object-fit: cover;
  }

  .responsive-tablet{
    display: -webkit-box;
  }

  .floating-text{
    left: 5rem; 
    top: 1rem;
  }

  .slider-text{
    font-size: 50px;
  }

  .burger-menu{
    display: none !important;
  }

  header div ul:first-child{
    margin: 2rem 4rem;
    display: block;
  }
  
  header ul li{
    margin: 0 3rem;
  }

}
/* Desktop */
@media only screen and (min-width: 1200px) {

  .vertical-line{
    position: absolute;
    top: 0;
    left: 8.6rem;
    right: 0;
    bottom: 0;
    z-index: 3;
    border-left: 4px solid white;
    display: block;
  }

  .slider-subtext{
    margin: 0 20rem;
  }

  .Rectangle {
    margin: 1.6rem 20rem;
  }

  .Rectangle-2 {
    margin: 0 0 0 5rem;
  }

  .floating-text{
    left: 20rem; 
    top: 10rem;
  }

  /* .burger-menu{
    display: none !important;
  } */

  header ul li{
    margin: 0 3rem;
  }

  .history-title{
    font-size: 50px;
    margin: 0;
  }

  .history-subtitle{
    margin: 0.9rem 0.5rem 0.5rem 0.5rem;
  }
  
  .history{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 6rem 2rem 4rem 2rem;
  }

  .flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }
  
  .flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    }
  
  .flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

    header div ul:first-child{
    margin: 2rem 10rem;
    display: block;
  }
}

/* width: 1200px */
@media only screen and (width: 1200px) {
  .floating-text{
    left: 12rem; 
    top: 5rem;
  }

    header div ul:first-child{
    margin: 2rem 10rem;
    display: block;
  }

}


/* Big desktop (4k) */
@media only screen and (min-width: 2500px) {

}


